/********** Base Design **********/

    body {
        font-size: 16px;
        color: #000;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
    }

/********** HEADER **********/

    #header-nav .container {
        margin-left: 2%;
    }

    #header-nav #menu-toggler {
        position: absolute;
        right: 5%;
    }

   
    #collapsable-nav #menu-items a {
        background-color: #fff;
        color: #000;
        text-align: center;
        border: 1px solid #000;
        font-weight: bold;
    } 

    .navbar-brand {
        padding-top: auto;
    }
    .navbar-brand h1{ /* Brand name */
        position: relative;
        font-family: 'Lora', serif;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    .navbar-brand a:hover, .navbar-brand a:focus {
        text-decoration: none;
    }
    
/********** Body styles **********/

    #heading {
        font-weight: bold;
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #dummy-text1 p {
        background-color: #7952b3;
        color: #fff;
    }